In [ ]:
### dict properties
-unindex,ordered(from v3.6)
-items are stored in :value pair
_hetrogeneous
-mutable
-keys are unique and are imutable (i.e.-string, tuple)
-represented by {}
-has a function called dict()

In [2]:
x={('ravi',15),('raju',39),('devi',40)}
print(x)

{('raju', 39), ('ravi', 15), ('devi', 40)}

In [16]:
info={
    'apple' : 'apple is a fruit',
    'football' :'the best sport on the planet',
    'something': 'this is something'
    }

In [18]:
info['apple']

'apple is a fruit'

In [21]:
report={
    'ananya':[83,56,32,67],
    'anubhav':[34,67,89,52],
    'devesh':[89,74,65,42],
    'aqdas':[56,85,96,74]
}

In [15]:
report['aqdas']

[56, 85, 96, 74]

In [17]:
report['anubhav'] [-1]

52

In [3]:
company_emp={
    'EMP85454':{
        'name':'aqdas',
        'salary':56558,
        'age':25
    },
    'EMP589654':{
        'name':'anubhav',
        'salary':25488,
        'age':32
    },
}

In [20]:
company_emp['EMP85454']

{'name': 'aqdas', 'salary': 56558, 'age': 25}

In [1]:
contact_book={
    'vineet':{
        'phone':58964425,
        'email':'vineet@gmail.com',
    },
    'anubhav':{
        'phone':1346435464,
        'email':'anubhav@gmail.com',
    },
    'zaid':{
        'phone':25454654,
        'email':'zaid25578@gmail.com',
    },
    'kamil':{
        'phone':85451648,
        'email':'kamil85678@gmail.com',
    },
    'maaz':{
        'phone':345734956,
        'email':'maaz008@gmail.com',
    },
    'tapun':{
        'phone':3295703479,
        'email':'tapun8678@gmail.com',
    },
    'asnal':{
        'phone':12093104983,
        'email':'asnal90978@gmail.com',
    },
    'malika':{
        'phone':85585585656,
        'email':'malika565678@gmail.com',
    },
}

In [6]:
contact_book['anubhav']

{'phone': 1346435464, 'email': 'anubhav@gmail.com'}

In [7]:
contact_book

{'vineet': {'phone': 58964425, 'email': 'vineet@gmail.com'},
 'anubhav': {'phone': 1346435464, 'email': 'anubhav@gmail.com'},
 'zaid': {'phone': 25454654, 'email': 'zaid25578@gmail.com'},
 'kamil': {'phone': 85451648, 'email': 'kamil85678@gmail.com'},
 'maaz': {'phone': 345734956, 'email': 'maaz008@gmail.com'},
 'tapun': {'phone': 3295703479, 'email': 'tapun8678@gmail.com'},
 'asnal': {'phone': 12093104983, 'email': 'asnal90978@gmail.com'},
 'malika': {'phone': 85585585656, 'email': 'malika565678@gmail.com'}}

In [12]:
#dict function 
#-update
#get
#pop
#popitem
#clear
#items
#keys
#values

In [9]:
contact_book.items() #list of key value pair as tuple

dict_items([('vineet', {'phone': 58964425, 'email': 'vineet@gmail.com'}), ('anubhav', {'phone': 1346435464, 'email': 'anubhav@gmail.com'}), ('zaid', {'phone': 25454654, 'email': 'zaid25578@gmail.com'}), ('kamil', {'phone': 85451648, 'email': 'kamil85678@gmail.com'}), ('maaz', {'phone': 345734956, 'email': 'maaz008@gmail.com'}), ('tapun', {'phone': 3295703479, 'email': 'tapun8678@gmail.com'}), ('asnal', {'phone': 12093104983, 'email': 'asnal90978@gmail.com'}), ('malika', {'phone': 85585585656, 'email': 'malika565678@gmail.com'})])

In [13]:
contact_book.keys()

dict_keys(['vineet', 'anubhav', 'zaid', 'kamil', 'maaz', 'tapun', 'asnal', 'malika'])

In [19]:
info.values()

dict_values(['apple is a fruit', 'the best sport on the planet', 'this is something'])

In [20]:
info['cup']='the thing that hold the tea'

In [23]:
info

{'apple': 'apple is a fruit',
 'football': 'the best sport on the planet',
 'something': 'this is something',
 'cup': 'the thing that hold the tea',
 'baseball': 'is a good sport'}

In [22]:
info['baseball']='is a good sport'

In [24]:
info

{'apple': 'apple is a fruit',
 'football': 'the best sport on the planet',
 'something': 'this is something',
 'cup': 'the thing that hold the tea',
 'baseball': 'is a good sport'}

In [26]:
#existing the new value
info['something']='the meaning of something is not known'

In [27]:
info

{'apple': 'apple is a fruit',
 'football': 'the best sport on the planet',
 'something': 'the meaning of something is not known',
 'cup': 'the thing that hold the tea',
 'baseball': 'is a good sport'}

In [36]:
name=input('enter name:')
number=input('enter the number:')
email=input('enter email:')
contact_book[name]={'phone':number,'email':email}
contact_book

{'vineet': {'phone': 58964425, 'email': 'vineet@gmail.com'},
 'anubhav': {'phone': 1346435464, 'email': 'anubhav@gmail.com'},
 'zaid': {'phone': 25454654, 'email': 'zaid25578@gmail.com'},
 'kamil': {'phone': 85451648, 'email': 'kamil85678@gmail.com'},
 'maaz': {'phone': 345734956, 'email': 'maaz008@gmail.com'},
 'tapun': {'phone': 3295703479, 'email': 'tapun8678@gmail.com'},
 'asnal': {'phone': 12093104983, 'email': 'asnal90978@gmail.com'},
 'malika': {'phone': 85585585656, 'email': 'malika565678@gmail.com'},
 '': {'phone': '', 'email': ''},
 'faraz': {'phone': '85255135465', 'email': 'farazmohd9887@gmail.com'}}

In [49]:
#one more way to dictory

In [50]:
emp=dict(name='raj mohan',age=29,salary=32146534,address='luckhnow')

In [51]:
emp

{'name': 'raj mohan', 'age': 29, 'salary': 32146534, 'address': 'luckhnow'}

In [57]:
emps={}
for i in range(5):
    nm=input("NAME:")
    age=input("age:")
    sal=input("salary:")
    addr=input("address:")
    emps[name]={
        'age':age,
        'salary':sal,
        'address':addr
    }
    print('done')

done
done
done
done
done

In [61]:
emps

{'faraz': {'age': "222'", 'salary': '989898', 'address': 'rfhkkh'}}

In [ ]:
#Ques :- seach a person -if the user enters a name , and if ........

In [15]:
#solution
search=input('enter the name of the user:')
if search.lower() in contact_book:
    print(contact_book[search])
else:
    print('user does not exist')

user does not exist

In [14]:
add=input('enter the name to be added:')
if add.lower() in contact_book:
    print('user already exists')
else:
     num=int(input('enter the phone number:')) 
     eml=input('enter the email:')
     contact_book[add]={'phone':num,'email':eml}

In [11]:
de=input('enter the name to be deleted:')
if de.lower() in contact_book:
    contact_book.pop(de)
    print(contact_book)
else:
    print('user does not exist')

user does not exist

In [2]:
x=("adeeb khan is a good boy")
print(x)

adeeb khan is a good boy